<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDd3JvkpXeRvtGTW9zcWBTgykd_I0aI5so</string>
	<key>GCM_SENDER_ID</key>
	<string>216778829204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nationalsanctions</string>
	<key>PROJECT_ID</key>
	<string>moi-bh-sanctions</string>
	<key>STORAGE_BUCKET</key>
	<string>moi-bh-sanctions.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216778829204:ios:7ff18f346a72e077fc7381</string>
</dict>
</plist>